$primary: #00b3e6;
$white: #fff;

$skin5:#233242 !default;
$gray-100: #f6f8f9 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #afb5c1 !default;
$gray-600: #6c757d !default;
$gray-700: #4F5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$font-family-sans-serif: 'Roboto', sans-serif;